<div class="container ">

<h1 id="heading">Task List</h1>
<div id="tasklist">
<button class="listitem"><%= link_to "New Task", new_path %></button>
 <% @tasks.each do |task| %>
      <h4 class="listitem"><%= link_to task.title, task_path(task) %></h4>
<% end %>
<div id="tasklist">
<div>
